doctype html
html(lang='es')
  head
    title= title

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="/css/xpressio.min.css", rel="stylesheet")

  body
    block content